
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    <div>
        @Html.ActionLink("View All Contacts", "ViewAllContacts", "Contact")
    </div>
    <div>
        @Html.ActionLink("Search Contacts by Last Name", "SearchContactByLastName", "Contact")
    </div>
</div>

